@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Titillium Web", sans-serif;
}

* {
  @apply transition-colors duration-300;
}

body {
  @apply bg-[#c8c8c8] text-gray-900 transition-colors duration-300;
}

:root.dark body {
  @apply bg-[#363636] text-white;
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
